.wrapper {
  height: 100%;
  background-color: $gray-100;
}

.main {
  height: calc(100% - #{$header-height};
  margin: 0;
  flex-wrap: nowrap;
  width: 100vw;
  max-width: 100vw;
}

header {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: $primary;
  border-bottom: 1px solid $gray-400;
  .btn-primary {
    color: #1a98f8;
    border-color: #1a98f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    &:hover{
      color: #fff;
      background: #1a98f8;
    }
  }
}

footer {
  height: $footer-height;
  background-color: $primary;
  color: #fff;
}
