.react-grid-Container {
  .react-grid-Header {
    .react-grid-HeaderCell {
      padding: 0 30px;
      color: $gray-500;
      font-size: 12px;
      font-weight: 600;
      background: #fff;
      &:not(:first-of-type){
        >div {
          justify-content: center;
        }
      }
      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        > span {
          order: 2;
        }
      }
    }
  }
  .react-grid-Canvas {
    .react-grid-Row {
      > div {
        background: transparent;
        padding: 0;
        &:not(:first-of-type) > div > div > span > div {
          justify-content: center;
        }
        > div, > div > div, > div > div > span {
          display: block;
          height: 100%;
          width: 100%;
          font-size: 14px;
          color: $gray-200;
          word-break: break-all;
          white-space: normal;
         
        }
        > div > div > span > div {
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          padding: 0 30px;
          &.actions {
            justify-content: space-between;
          }
        }
      }

      .company-row {
        color: $gray-200;
        padding: 0 30px;
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        &.active, &:hover {
          background: $blue;
          color: #fff;
        }
      }
    }
  }
}

.companies {
  .react-grid-Container .react-grid-Canvas {
    background: $primary;
  }
}

.matches {
  .react-grid-Container .react-grid-Canvas > div {
    >div:nth-child(odd) {
      background: #fcfcfc;
    }
    >div:nth-child(even) {
      background: #fff;
    }
  }
}

.react-grid-Empty {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary;
  position: absolute;
  top: 25px;
  left: 0;
  bottom: 0;
  right: 0;
}
